<nav class="ui attached menu">
  <div class="ui container">
    <div class="header item">
      <h1><i class="checkmark box icon"></i> {{ title }}</h1>
    </div>
  </div>
</nav>

<div class="ui text container">
  <div class="ui segment form">
    <div class="ui fluid action input">
      <input type="text" class="form-control" name="title" #input placeholder="somthing...">
      <button type="button" class="ui primary button" (click)="addTodo(input)" name="button">Add</button>
    </div>

  </div>

  <div class="ui raised segment" *ngIf="todos.length > 0" >
  <div id="todos" class="ui middle aligned selection list">
    <div class="todo item" *ngFor="let todo of todos" >
      <div class="ui checkbox">
        <input type="checkbox" name="" value="">
        <label for="">{{ todo }}</label>
      </div>

      <button type="" class="ui red icon button"><i class="trash outline icon"></i></button>
    </div>
  </div>
</div>


</div>


